<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    <div class="container">
        <header class="page-header">
            <h1>Template</h1>
        </header>
        <nav class="page-nav">
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
                <li><a href="#">Item 4</a></li>
                <li><a href="#">Item 5</a></li>
            </ul>
        </nav>
        <main class="page-main">
            <section class="page-section">
                <h2>sección 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sit placeat sequi tempora
                    laudantium
                    blanditiis enim veniam quae officiis possimus, quisquam, obcaecati, reiciendis accusantium debitis
                    repudiandae explicabo numquam saepe eos.</p>
                <p>Tenetur amet perspiciatis incidunt magnam eaque dolorum eum ratione, consequuntur nemo adipisci et
                    debitis velit temporibus, vero assumenda ea quam asperiores porro iste ut dicta. Qui magnam debitis
                    iste itaque?</p>
            </section>
        </main>
        <footer class="page-footer">
            <p>Todos los derechos reservados | cecilia zamora| eduMac 2018</p>
        </footer>
    </div>
    <div id="js">
        <script src="js/main.js"></script>
    </div>
</body>

</html>